{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


Проект называется NNPF (neural network pneumonia finding) - нейронная сеть для поиска пневмонии. Проект будет использоваться в медицинских профильных учреждениях для определения и изучения заболеваний лёгких. Срок реализации проекта 2–3 года, начало проекта февраль 2022 года.
В период пандемии 2019 года возникла идея по оптимизации процессов распознавания и лечения пациентов, поступающих в неотложную помощь. Главная проблема в этом случае быстрое и точное разделение пациентов на тех, кому нужна срочная госпитализация, и тех, кто мог бы лечиться стационарно. Эти трудные времена, неподготовленная система здравоохранения испытала колоссальную нагрузку. Эти сильно увеличило риски врачебных ошибок и не только. Требовалось решение, которое поможет решить эти проблемы.
К 2020 году была подготовлена база, для того чтобы начать проект. Изучение удивительного инструмента как нейронные сети позволило разработать будущую концепцию взаимодействия Врача и Пациента. Оно заключается в дистанционном и быстром определении и современном лечении заболеваний. Всё это возможно благодаря нейронным сетям. Помимо этого, были изучены средства для проектирования систем, было изучено множество исследований и литературы.
К концу 2020 по начало проекта проводились попытки реализации поставленной цели. После ряда неудач связанные с организацией рабочего процесса. Были поставлены цели и задачи для чёткого понимания конечной точки проекта и временных рамок.
В ходе проекта достигнуты хорошие результаты. На реальных данных точность прогноза варьируется в среднем 0.7–0.8, на данных для обучения точность составила свыше 0.97.  Потери при этом не превышали 0.05 в том и другом случае.

Помимо нейронной сети удалось собрать образ для работы в Docker, в контейнерах которого работают настроенные сервисы приложения. Образ можно будет развернуть на любой машине не боясь, что не хватит зависимостей или пакетов.

Главный преимущественным техническим параметром является скорость обработки снимков. Это достигается за счёт того, что нейронная сеть уже обучена на этапе ввода изображения. Обучение происходит в момент, когда будет готов датасет с достаточным количеством снимков для эффективного обучения. За счёт большого хранилища с снимками и грамотно построенной модели достигается повышенная точность прогноза нейронной сети. 
Все модули написаны на программных продуктах, которые имеют открытый исходный код. Это позволяет сэкономить материальные ресурсы и даёт возможность гибкой доработки полученной системы. 
Изображения должны быть подготовлены с использованием сверточных слоев в процессе, называемом сверткой. В этом процессе есть несколько этапов — операция свертки, операция ReLU, объединение и сплющивание; конечным результатом является вектор, который мы можем влить в искусственную нейронную сеть. Во время операции свертки к изображению применяются различные детекторы признаков, создавая стек карт объектов — этот стек карт объектов называется сверточным слоем. ReLU применяется к каждой карте объектов для повышения нелинейности.




{% endblock %}