{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Использование</p>
            <p class="subtitle">Проект будет использоваться в медицинских профильных учреждениях для определения и изучения заболеваний лёгких.</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Преимущества</p>
            <p class="subtitle">Главный преимущественным техническим параметром является скорость обработки снимков. Это достигается за счёт того, что нейронная сеть уже обучена на этапе ввода изображения. Обучение происходит в момент, когда будет готов датасет с достаточным количеством снимков для эффективного обучения. За счёт большого хранилища с снимками и грамотно построенной модели достигается повышенная точность прогноза нейронной сети.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">NNPF</p>
            <p class="subtitle">(neural network pneumonia finding)</p>
            <p class="subtitle">- нейронная сеть для поиска пневмонии.</p>
            <figure class="image is-128x126">
                <img src="{% static 'img/logo.png' %}" alt="predict" style="border-radius: 20px; ">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Результаты</p>
          <div class="content">
            В ходе проекта достигнуты хорошие результаты. На реальных данных точность прогноза варьируется в среднем 0.7–0.8, на данных для обучения точность составила свыше 0.97.  Потери при этом не превышали 0.05 в том и другом случае.
            Помимо нейронной сети удалось собрать образ для работы в Docker, в контейнерах которого работают настроенные сервисы приложения. Образ можно будет развернуть на любой машине не боясь, что не хватит зависимостей или пакетов.
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">История</p>
          <div class="content">
            <p>
            В период пандемии 2019 года возникла идея по оптимизации процессов распознавания и лечения пациентов, поступающих в неотложную помощь. Главная проблема в этом случае быстрое и точное разделение пациентов на тех, кому нужна срочная госпитализация, и тех, кто мог бы лечиться стационарно. Эти трудные времена, неподготовленная система здравоохранения испытала колоссальную нагрузку. Эти сильно увеличило риски врачебных ошибок и не только. Требовалось решение, которое поможет решить эти проблемы.
            К 2020 году была подготовлена база, для того чтобы начать проект. Изучение удивительного инструмента как нейронные сети позволило разработать будущую концепцию взаимодействия Врача и Пациента. Оно заключается в дистанционном и быстром определении и современном лечении заболеваний. Всё это возможно благодаря нейронным сетям. Помимо этого, были изучены средства для проектирования систем, было изучено множество исследований и литературы.
            К концу 2020 по начало проекта проводились попытки реализации поставленной цели. После ряда неудач связанные с организацией рабочего процесса. Были поставлены цели и задачи для чёткого понимания конечной точки проекта и временных рамок.
            Срок реализации проекта 2–3 года, начало проекта февраль 2022 года.
            </p> 
         </div>
        </div>
      </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="is-size-3">Ваша экономия</p>
        <p>Все модули написаны на программных продуктах, которые имеют открытый исходный код. Это позволяет сэкономить материальные ресурсы и даёт возможность гибкой доработки полученной системы.</p>
      </div>
      <div class="tile is-child box">
        <p class="is-size-3">Мои статьи</p>
        <p>1. Рыбко Е.А., Воеводина Е.И., Бурыкин А.Д. Потенциал использования нейронных сетей в области медицины // Мягкие измерения и вычисления. 2022. Т. 60. № 11-2. С. 39-45.</p>
        <p>2. Рыбко Е.А., Воеводина Е.И., Бурыкин А.Д. Возможности использования нейронных сетей в диагностике пневмонии // Мягкие измерения и вычисления. 2022. Т. 60. № 11. С. 108-114.</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="is-size-3">Актуальность</p>
        <p class="is-size-5">Актуальность темы исследования обусловлена тем, что на современном этапе развития нейронные сети (НС) упрощают бизнес и повседневную жизнь, выводя нас на новый уровень в искусственном интеллекте (ИИ). </p>
        <p class="is-size-5">Нейронные сети являются функциональной единицей глубокого обучения и, как известно, имитируют поведение человеческого мозга для решения сложных задач, связанных с данными. Входные данные обрабатываются через различные слои искусственных нейронов, сложенных вместе для получения желаемого результата. На сегодняшний день нейронные сети используют для распознавания речи и распознавания личности, здравоохранения и маркетинга и во многих других областях.</p>
        <p class="is-size-5">Существует множество примеров использования НС в потребительском секторе, а в медицине практическое применение пока не развито.</p>
      </div>
    </div>
</div>
<br>
<br>

{% endblock %}