{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<section class="section is-large">
	<h1 class="title is-1">NNPF</h1>
	<br>
	<h2 class="subtitle is-3">
		Сервисная платформа лучевой диагностики на основе искусственного интеллекта
	</h2>
	<h2 class="subtitle is-3" align="center">
		Система поддержки принятия врачебных решений (СППВР)
	</h2>
	<a href="/about_us" class="button is-rounded is-large" style="margin-top: 5%;">О нас</a>
</section>
<div class="tile is-ancestor">
	<div class="tile is-4 is-vertical is-parent">
	  <div class="tile is-child box">
		<p class="is-size-4">NNPF —</p>
		<p>приложение для анализа результатов лучевых исследований.</p>
	  </div>
	  <div class="tile is-child box">
		<p class="is-size-4">Продукт компьютерного зрения NNPF</p>
		<p>с высокой точностью и скоростью помогают врачам-рентгенологам определять наличие у пациентов признаков злокачественных новообразований, туберкулеза пневмонии и других социально-значимых патологий.</p>
	  </div>
	</div>
	<div class="tile is-parent">
	  <div class="tile is-child box">
		<p class="is-size-4">Важно</p>
		<div class="columns">
			<div class="column is-half">
				<br>
				<br>
				<br>
				<p class="is-size-5">Работа сервиса по анализу и предоставлению результата происходит со скоростью в 5-10 раз превышающей тот же процесс в ЛПУ без использования наших технологий. Это кратно сокращает рутинную нагрузку врача, приоритизирует находки для его внимания, снижает врачебные ошибки.</p>
			</div>
			<div class="column is-half">
				<figure class="image is-256x256">
					<img src="{% static 'img/xray_n.png' %}" alt="predict">
				</figure>
			</div>
	  </div>
	</div>
</div>
</div>

<div class="notification is-danger">
	<p class="is-size-4">Проблемы рынка <i class="fas fa-times"></i></p>
	<p class="is-size-5">• кадровый голод</p>
	<p class="is-size-5">• медицинские ошибки</p>
	<p class="is-size-5">• недозагрузка оборудования</p>
</div>

<div class="notification is-success">
	<p class="is-size-4">Решения NNPF <i class="fas fa-check"></i></p>
	<p class="is-size-5">• оптимизация трудозатрат</p>
	<p class="is-size-5">• увеличение точности</p>
	<p class="is-size-5">• повышение эффективности</p>
</div>

<div class="card">
	<div class="card-image">
	  <figure class="image">
		<img src="{% static 'img/about_photo.jpg' %}" alt="Placeholder image">
	  </figure>
	</div>
	<div class="card-content">
	  <div class="content">
		<p class="is-size-2" align="center">Наша база данных насчитывает более 5000 снимков</p>
	  </div>
	</div>
</div>
<br><br><br>
<section class="hero is-success is-halfheight">
	<div class="hero-body">
	  <div class="">
		<h1 class="title is-2">Сервисная платформа NNPF</h1>
		<br>
		<blockquote><h2 class="subtitle is-4">получить 2-е мнение</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">снизит стоимость</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">увеличит скорость анализа</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">минимизирует медицинские ошибки</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">решит проблему дефицита рентгенологов</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">сосредоточиться на сложных случаях</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">сэкономит время здоровых пациентов</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">получит первичные выводы без участия рентгенолога</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">упростит проведение массовых скринингов</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">упростит работу призывных комиссий</h2></blockquote>
		<blockquote><h2 class="subtitle is-4">упростит работу страховых компаний</h2></blockquote>
	  </div>
	</div>
  </section>

<section class="section is-large">
</section>

{% endblock %}