{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div>
    <h2 class="is-size-2">Чат</h2>
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="mb-2">
                <label for="chatLog">Комната: #{{ room.name }}</label>
                <textarea class="form-control" id="chatLog" style="resize: none; width: 100%; height: 300px;" readonly></textarea>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="chatMessageInput" placeholder="Напишите сообщение" style="width: 100%;">
                <div class="input-group-append">
                    <br>
                    <button class="button is-fullwidth" id="chatMessageSend" type="button">Отправить</button>
                </div>
            </div>
        </div>
        <div class="column">
            <label for="onlineUsers">Пользователи в сети</label>
            <select multiple class="form-control" id="onlineUsersSelector" style="height: 400px;">
            </select>
        </div>
    </div>
    {{ room.name|json_script:"roomName" }}
</div>
<script src="{% static 'js/room.js' %}"></script>
    
{% endblock %}