{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div>
    <h2 class="is-size-2">Войти или создать комнату</h2>
    <div class="columns">
        <div class="column is-two-thirds">
            <div style="margin-bottom: 30%;">
                <label for="roomInput" class="is-size-4">Введите имя комнаты, к которой хотите присоеденится:</label>
                <br>
                <input type="text" class="form-control" id="roomInput" placeholder="Room name">
                <br>
                <small id="roomInputHelp" class="form-text text-muted" class="is-size-5">Если комнаты не существует, то она создасться автоматически.</small>
            </div>
            <button type="button" id="roomConnect" class="button is-fullwidth">Connect</button>
        </div>
        <div class="column">
            <label for="roomSelect">Активные комнаты</label>
            <select multiple class="form-control" id="roomSelect" style="height: 100%; width: 140px;">
                {% for room in rooms %}
                    <option>{{ room }} человек(а)</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}